# Adapted from:
# https://github.com/google-github-actions/setup-gcloud/blob/main/example-workflows/gce/.github/workflows/gce.yaml

name: Deploy App to Google Cloud Functions

on: [push]

env:
  PROJECT_ID: ${{ secrets.GCE_PROJECT }}
  SERVERLESS_INSTANCE: ${{ secrets.SERVERLESS_INSTANCE_NAME }}
  SERVERLESS_INSTANCE_ZONE: ${{ secrets.SERVERLESS_INSTANCE_ZONE }}

jobs:
  setup-build-publish-deploy:
    name: Deploy Serverless
    runs-on: ubuntu-latest

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # Alternative option - authentication via credentials json
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GCE_SA_KEY }}'

    # Setup gcloud CLI
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0

    - name: Deploy
      run: |-
        gcloud functions deploy $SERVERLESS_INSTANCE_NAME \
          --region=${{ secrets.SERVERLESS_INSTANCE_ZONE }} --project=$PROJECT_ID \
          --entry-point=GetPrice \
          --runtime go119 --trigger-http --allow-unauthenticated --source=./serverless
